<h2>Por País</h2>
<hr>



<div class="row">
    <div class="col">
        <app-pais-input 
            (onEnter)="buscar($event)"
            (onDebounce)="sugerencias($event)"
            placeholder="Buscar país..."   
            ></app-pais-input>
    </div>
</div>
<ul class="list-group">
    <li *ngFor="let pais of paisesSugeridos" class="list-group-item list-group-item-action" >
        <a class="nav-link" [routerLink]="['/pais',pais.cca2]">{{pais.name.common}}</a>
    </li>
    <li *ngIf="termino" (click)="buscarSugerencia()" class="list-group-item list-group-item-action" >
        Buscar "{{ termino }}"
    </li>

</ul>

<hr>

<div *ngIf="isError" class="alert alert-danger">
    <p>No se encontró nada con el término {{ termino }}</p>
</div>

<div *ngIf="paises.length > 0 && !isError" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>
