<table class="table table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Capital</th>
            <th>Población</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index" class="animate__animated animate__fadeIn">
            <td>{{ i+1 }}</td>
            <td>
                <img [src]="pais.flags.png" alt="" class="small-flag">
            </td>
            <td>{{ pais.name.official }}</td>
            <td>{{ pais.capital }}</td>
            <td>{{ pais.population | number }}</td>
            <td>
                <a [routerLink]="['/pais',pais.cca2]">Ver...</a>
            </td>
        </tr>
    </tbody>
</table>

