<div *ngIf="!pais; else divPais" class="alert alert-info">
    <p>Espere porfavor...</p>
</div>
<ng-template #divPais>
    <div class="row">
        <div class="col-12">
            <h1>País: <small>{{ pais.name.common }}</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flags.png"  class="img-thumbnail" alt="">
        </div>
        <div class="col">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población: </strong> {{ pais.population | number }}
                </li>
                <li class="list-group-item">
                    <strong>Capital: </strong> {{ pais.capital[0] }}
                </li>
                <li class="list-group-item">
                    <strong>Área: </strong> {{ pais.area | number }}
                </li>
                <li class="list-group-item">
                    <strong>Código: </strong> {{ pais.cca2 }}
                </li>


            </ul>
        </div>
        <div class="col">
            <h3>Idiomas</h3>
            <ul class="list-group">
                <li  *ngFor="let idioma of getLanguages(pais.languages)" class="list-group-item">
                    {{ idioma }}
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-2">
        <h3>Traducciones</h3>
        <div class="col">
            <span *ngFor="let traduccion of pais.translations | keyvalue" class="badge bg-primary m-1">{{ traduccion.value.official }}</span>
        </div>
    </div>
</ng-template>


