<h3>Buscar por región {{ regionActiva | titlecase }}</h3>
<div class="row">
    <div class="col">
        <button *ngFor="let region of regiones" 
        class="btn m-2" 
        (click)="activarRegion(region)"
        [class]="getClass(region)">
            {{ region | titlecase }}
        </button>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-pais-tabla
            [paises]="paises"
        ></app-pais-tabla>
    </div>
</div>
