<form autocomplete="off" (ngSubmit)="emitir()" (input)="teclaPresionada()">
    <div class="input-group">
        <input type="text" name="termino" [placeholder]="placeholder" class="form-control" [(ngModel)]="termino">
        <input type="submit" value="OK" class="btn btn-outline-secondary">
    </div>
</form>